form div {
    margin-top: 10px;
    justify-content: space-between;
}

form div label {
    font-weight: 500;
    font-size: 16px;
    color: black;
}

.imagemDetalhe {
    width: 70%;
    margin: auto;
}

.square {
    border: 1px solid black;
}
.square h5, p {
    margin-left: 6px;
}

.ingredienteButton {
    margin-top: auto;
    margin-bottom: auto;
}

.preview{
    border: 1px solid black;
}