.category {
  display: flex;
  height: 165px;
  width: 150px;
  max-width: 250px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-right: 50px;
  position: relative;
}
.category img {
  margin-top: 30px;
  height: 50px;
  width: 88px;
  border-radius: 10px;
}
.category div {
  display: inherit;
  justify-content: space-between;
}
.cards-container {
  flex-direction: row;
  background: none;
  border: none;
}
.category-row {
  overflow-x: scroll;
}
.category-text {
  display: inherit;
  flex-basis: 100%;
  background-color: #ff9900;
  border-radius: 20px;
  padding: 5px 10px;
  align-self: baseline;
  font-weight: 600;
  font-size: 17px;
}
